*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    margin: 20px;
    max-width: 500rem;
    font-family: 'Inter', sans-serif;

    --background: #F0ECCF;
    --color: #343434;
}

.primary-clr {
    color: var(--color);
}

.primary-bg {
    background: var(--background);
}

/*  ====================
    =====Head-Title=====
    ====================  */
.parent-container {
    display: grid;
    grid-template-columns: 88% 12%;
}

.parent-container > div:nth-child(1) {
    font-size: 2.5vw;
    letter-spacing: 0.4rem;
    margin: 20px;
    width: 350px;
}

.parent-container > div:nth-child(2) {
    font-size: 1.2vw;
    letter-spacing: 0.1rem;
    margin: 10px;
    width: 190px;
    height: 200px;

    display: flex;
    align-items: flex-end;
}

/*  =============================
    =====Slideshow-container=====
    =============================  */

.slideshow-container {
    max-width: 95rem;
    height: 30.1rem;
    position: relative;
    margin: auto;
}

.img-slide {
    width: 91rem;
    height: 31.5rem;
    object-fit: cover;
    
    display: block;
}

/* Make the images invisible by default */
.Containers {
    display: none;

    box-shadow: 3px 3px 25px 5px rgba(0, 0, 0, .5)
}

/* forward & back buttons */
.back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

/* Place the "forward button to the right" */
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

/* The circle or bullets and indicators */
.dots {
    /* border: 1px solid blue; */
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    padding-top: 0;
    background-color: #F3F3F3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable, .dots:hover {
    background-color: #8E8B82;
}

.dots-container {
    position: absolute;
    top: 720px;
    right: 770px;
}

/* Faint animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}

/*  =======================
    =====About-Section=====
    =======================  */

.about-container {
    height: 51rem;
    display: grid;
    grid-template-columns: 62% 38%;
}

.about-container > div:nth-child(1) {
    margin: 20px;
    padding-left: 1rem;
    width: 59.5rem;
    height: 45rem;
}

.about-container > div:nth-child(2) {
    margin: 20px;
    padding-left: 0.1rem;
    padding-top: 1.5rem;
    width: 33.6rem;
    height: 42rem;
}

.about-heading {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    margin: 10px;
    width: 57rem;

    font-size: 5vw;

    display: flex;
    flex-direction: row;
    
}

.about-description {
    margin: 10px;
    padding-left: 25rem;
    padding-right: 3rem;
    width: 57rem;

    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-align: justify;

    display: flex;
    flex-direction: row-reverse;
}

.about-img{
    margin: 0.1px;
    padding: 0.1px;
    width: 33.8rem;
    height: 42rem;
    object-fit: cover;

    display: block;
    box-shadow: 3px 3px 25px 5px rgba(0, 0, 0, .5)
}

/*  ============================
    =====Instrument-Section=====
    ============================  */

.section-one {
    height: 51rem;
    display: grid;
    grid-template-columns: 38% 62%;
}

.section-one > div:nth-child(1) {
    margin: 20px;
    padding-top: 5rem;
    width: 36.5rem;
    height: 45rem;
}

.section-one > div:nth-child(2) {
    margin: 20px;
    padding: 0 0 150px 30px;
    width: 57rem;
    height: 45rem;

    display: grid;
    grid-template-columns: 2fr 2fr;
}

.instru-heading {
    margin: 1rem;
    width: 20rem;

    font-size: 3vw;
    text-align: center;
}

.instru-description {
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;

}

.lrg-img {
    margin: 1rem;
    width: 35rem;
    height: 28rem;

    object-fit: cover;

    box-shadow: 3px 3px 25px 5px rgba(0, 0, 0, .5)
}

.md-img {
    margin: 1rem;
    width: 25rem;
    height: 20rem;

    object-fit: cover;

    box-shadow: 3px 3px 25px 5px rgba(0, 0, 0, .5)
}

.section-two {
    height: 51rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.section-two > div:nth-child(1) {
    margin: 20px;
    padding: 100px 0 180px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.section-two > div:nth-child(2) {
    margin: 20px;
    padding: 100px 0 0 0;
}

.lft-txt-align {
    padding-top: 150px;
}

.rght-txt-align {
    text-align: left;
}

.section-three {
    height: 51rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.section-three > div:nth-child(1) {
    margin: 20px;
    font-size: 2rem;
}

.section-three > div:nth-child(2) {
    margin: 20px;
    padding: 11rem 0 0 0;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.long-img {
    margin: 5px;
    width: 25rem;
    height: 33rem;

    object-fit: cover;

    display: block;
    box-shadow: 3px 3px 25px 5px rgba(0, 0, 0, .5)
}

.xl-description {
    font-size: 3rem;
    font-weight: bold;
}

.sml-description {
    padding: 25rem 2rem 0 0;
    font-size: 1.5rem;
}

.contact-section {
    height: 51rem;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.contact-section > div:nth-child(1) {
    margin: 20px;
    padding-top: 1px;
    font-size: 2.5rem;
}

.contact-section > div:nth-child(2) {
    margin: 20px;
    font-size: 1.5rem;
}

.contact-heading {
    margin: 20px;
    width: 25rem;
}

.hori-img {
    margin: 1rem;
    width: 35rem;

    box-shadow: 3px 3px 25px 5px rgba(0, 0, 0, .5)
}

.contact-description {
    margin: 5px;
    padding: 3px 0 10px 13px;
}