*,
*::before,
*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    
    font-family: 'Inter', sans-serif;

    --background: #F0ECCF;
    --color: #343434;

    /* border: 3px solid blue; */
}

.primary-clr {
    color: var(--color);
}

.primary-bg {
    background: var(--background);
}

/*  ====================
    =====Head-Title=====
    ====================  */
.parent-container {
    /* border: 1px solid green; */
    margin: 20px; 
    display: grid;
    grid-template-columns: 88% 12%;
}

.parent-container > div:nth-child(1) {
    /* border: 1px solid red; */
    font-size: 2.5vw;
    letter-spacing: 0.4rem;
    margin: 20px;
    width: 350px;
}

.parent-container > div:nth-child(2) {
    /* border: 1px solid red; */
    font-size: 1.2vw;
    letter-spacing: 0.1rem;
    margin: 10px;
    width: 160px;
    height: 180px;

    display: flex;
    align-items: flex-end;
}

/*  =============================
    =====Slideshow-container=====
    =============================  */

.slideshow-container {
    /* border: 1px solid red; */
    max-width: 93rem;
    height: 30.1rem;
    position: relative;
    margin: auto;
}

.img-slide {
    width: 91rem;
    height: 30rem;
    object-fit: cover;
    
    display: block;
}

/* Make the images invisible by default */
.Containers {
    display: none;

    box-shadow: 3px 3px 25px 5px rgba(0, 0, 0, .5)
}

/* forward & back buttons */
.back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

/* Place the "forward button to the right" */
.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

/* The circle or bullets and indicators */
.dots {
    /* border: 1px soild blue; */
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    padding-top: 0;
    background-color: #F3F3F3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable, .dots:hover {
    background-color: #8E8B82;
}

.dots-container {
    position: absolute;
    top: 720px;
    right: 760px;
}

/* Faint animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.4s;
    animation-name: fade;
    animation-duration: 1.4s;
}

@-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}

/*  =======================
    =====About-Section=====
    =======================  */

.about-container {
    /* border: 1px solid green; */
    margin: 20px;

    height: 45rem;
    display: grid;
    grid-template-columns: 62% 38%;
}

.about-container > div:nth-child(1) {
    /* border: 1px solid red; */
    margin: 20px;
    width: 59.5rem;
    height: 42.5rem;
}

.about-container > div:nth-child(2) {
    /* border: 1px solid red; */
    margin: 20px;
    width: 34rem;
    height: 42.5rem;
}

.about-heading {
    /* border: 1px solid red; */
    padding-top: 5rem;
    padding-bottom: 3rem;
    margin: 10px;
    width: 58rem;

    font-size: 5vw;

    display: flex;
    flex-direction: row;
    
}

.about-description {
    /* border: 1px solid red; */
    margin: 10px;
    padding-left: 25rem;
    width: 58rem;

    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    text-align: justify;

    display: flex;
    flex-direction: row-reverse;
}

.about-img{
    /* border: 1px solid red; */
    margin: 0.5rem;
    padding: 0.1rem;
    width: 33rem;
    height: 41.5rem;
    object-fit: cover;
    
    display: block;
}